* {
  margin: 0;
  padding: 0;
  background: lightblue;
}

.game-container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.game-canvas {
  background: black;
  width: 200px;
  height: 200px;
}
