body {
  background: lightblue;
  overflow: hidden;
}

canvas {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: white solid 5px;
}

#publishers {
  position: absolute;
  top: 85%;
  left: 90%;
}
