* {
  margin: 0;
  padding: 0;
  background: lightblue;
  image-rendering: pixelated;
}

.game-container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.game-canvas {
  outline: 1px solid white;
  width: 193px;
  height: 193px;
  transform: scale(3);
}
