* {
 box-sizing: border-box;
 font-family: "VT323", monospace;
 user-select: none;
 image-rendering: pixelated;
}

body {
  margin: 0;
  padding: 0;
  background: lightblue;
  overflow: hidden;
}

.game-container {
  position: relative;
  outline: 1px solid white;
  width: 241px;
  height: 145px;
  margin: 0 auto;
  
  transform: scale(3) translateY(50%);
}

.game-canvas {
  image-rendering: pixelated;
}
