.Instructions {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.Instructions h1 {
  display: none;
}

#W-Key {
  position: absolute;
  top: 5px;
  left: 35px
}

#A-Key {
  position: absolute;
  top: 30px;
  left: -7px;
}

#D-Key {
  position: absolute;
  top: 30px;
  left: 77px;
}

#S-Key {
  position: absolute;
  top: 30px;
  left: 35px;
}
 
#Up-Arrow {
  position: absolute;
  top: 70px;
  left: 35px
}

#Right-Arrow {
  position: absolute;
  top: 98px;
  left: 77px;
}

#Left-Arrow {
  position: absolute;
  top: 98px;
  left: -7px;
}

#Down-Arrow {
  position: absolute;
  top: 98px;
  left: 35px
}

#Enter {
  position: absolute;
  top: 100px;
  right: 20px;
}

#Space {
  position: absolute;
  top: 50px;
  right: 20px;
}
