.Instructions {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: lightgrey;
}

.Instructions h1 {
  display: none;
}

#W-Key {
  position: absolute;
  top: 55px;
  left: 35px
}

#A-Key {
  position: absolute;
  top: 80px;
  left: -7px;
}

#D-Key {
  position: absolute;
  top: 80px;
  left: 77px;
}

#S-Key {
  position: absolute;
  top: 80px;
  left: 35px;
}

#Enter {
  position: absolute;
  top: 100px;
  right: 20px;
}

#Space {
  position: absolute;
  top: 50px;
  right: 20px;
}

#movement {
  text-align: center;
  position: absolute;
  top: 0px;
  width: 140px;
  left: 2px;
  
}

#dash {
  position: absolute;
  top: 60px;
  right: 10px;
}

#attack {
  position: absolute;
  top: 110px;
  right: 5px;
}
