.StartScreen {
  position: absolute;
  background: darkblue;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}

.StartScreen button {
  display: flex;
  margin: 0 auto;
  transform: translate(-50%,-50%);
  height: 10%;
  width: 50%;
}
