.StartScreen {
  position: absolute;
  background: darkblue;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.StartScreen button {
  position: absolute;
  margin-left: 50%;
  margin-top: 45%;
  transform: translate(-50%,-50%);
  height: 25%;
  width: 50%;
}

.StartScreen img {
  position: absolute;
  margin-left: 50%;
  margin-top: 20%;
  transform: translate(-50%, -50%);
  width: 104px;
  height: 80px;
}

.StartScreen h1 {
  position: absolute;
  color: white;
  margin-left: 50%;
  transform: translateX(-35%);
  width: 100%;
}

#credits {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 22px;
  height: 22px;
}

.Credits {
  position: absolute;
  top: 0;
}

.Credits h1 {
  font-size: 25px;
  margin: 0;
  margin-left: 25%;
}

.Credits p {
  font-size: 12px;
  margin: 0;
  margin-bottom: 10px;
}
