.Score {
  font-familt: inherit;
  position: absolute;
  right: 20px;
  color: white;
  font-size: 15px;
  top: 0;
  margin-top: 0;
  padding-top: 0;
  height: 5px;
}

.Health {
  position: absolute;
  left: 20px;
  top: 0;
}
