.Score {
  font-familt: inherit;
  position: absolute;
  right: 10px;
  color: white;
  font-size: 20px;
  top: -25px;
  margin-top: 0;
  padding-top: 0;
  height: 5px;
}

.Health {
  position: absolute;
  left: 10px;
  top: 0;
}

.Health img {
  width: 9px;
  height: 8px;
}
