.Score {
  font-familt: inherit;
  position: absolute;
  right: 10px;
  color: white;
  font-size: 20px;
  top: -20px;
  margin-top: 0;
  padding-top: 0;
  height: 5px;
}

.Health {
  position: absolute;
  left: 10px;
  top: 0;
}

.Health img {
  width: 9px;
  height: 8px;
}

.EndScreen {
  position: absolute;
  top: 0;
  padding: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: darkblue;
  padding-top: 20px;
  padding-left: 20px
}

.EndScreen p {
  margin: 0;
  padding: 5px;
  color: white;
}
